<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WIMWIsure - Back Office">
<meta name="keywords"
	content="WimwiSure, QC, ADMIN, DASHBOARD, wimwisure">
<title>WIMWIsure - Reset Password</title>
<!-- Site favicon -->
<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
<!-- /site favicon -->

<!-- Entypo font stylesheet -->
<link href="css/entypo.css" rel="stylesheet">
<!-- /entypo font stylesheet -->

<!-- Font awesome stylesheet -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- /font awesome stylesheet -->

<!-- CSS3 Animate It Plugin Stylesheet -->
<link href="css/plugins/css3-animate-it-plugin/animations.css"
	rel="stylesheet">
<!-- /css3 animate it plugin stylesheet -->

<!-- Bootstrap stylesheet min version -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- /bootstrap stylesheet min version -->

<!-- Mouldifi core stylesheet -->
<link href="css/mouldifi-core.css" rel="stylesheet">
<!-- /mouldifi core stylesheet -->

<link href="css/mouldifi-forms.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
<script src="js/jquery.min.js"></script>
<style type="text/css">
.alert-progress {
	display: none;
}

.alert-error {
	display: none;
}
</style>
</head>
<body class="login-page">
	<div class="login-pag-inner">
		<div class="animatedParent animateOnce z-index-50">
			<div class="login-container animated growIn slower">
				<br /> <br />
				<div class="login-content">
					<div class="login-branding" style="padding: 0px;">
						<a href="http://wimwisure.com" target="_blank"><img
							src="images/logo.png" alt="WIMWIsure" title="WIMWIsure"></a>
					</div>

					<form name="registerForm" action="/user/reset-password"
						method="post">
						<div class="form-input username">
							<input type="text" class="form-control"
								placeholder="Phone Number" name="username"
								ng-model="registerObj.username" autofocus="true"
								ng-minlength="4" ng-maxlength="16" ng-required="true">

						</div>
						<div class="form-input password">
							<input type="password" class="form-control password"
								placeholder="Current Password" name="currentPassword"
								ng-model="registerObj.currentPassword">

						</div>
						<div class="form-input password">
							<input type="password" class="form-control password2"
								placeholder="New Password" name="newPassword"
								ng-model="registerObj.newPassword" ng-minlength="4"
								ng-maxlength="16" ng-required="true"
								password-match="registerObj.newPassword2">
						</div>
						<div class="form-input password">
							<input type="password" class="form-control password2"
								placeholder="Repeat Password" name="newPassword2"
								ng-model="registerObj.newPassword" ng-minlength="4"
								ng-maxlength="16" ng-required="true"
								password-match="registerObj.newPassword2">
						</div>



						<button class="btn btn-lg btn-block" type="submit"
							ng-click="changePassword(registerForm)">
							<span> Reset </span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>