
    <div >
        <form ng-submit="reopen()">
            <table class="table table-striped">
                <tr>
                    <td>Inspection case: </td>
                    <td> <b>{{ inspectionCase.id }} </b> </td>
                </tr>
                <tr>
                    <td>
                        Reason to reopen:
                    </td>
                    <td>
                        <textarea ng-model="reopenReason" ng-init="reopenReason=''" class="form-control">

                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> <button class="btn btn-primary" type="submit">Reopen Case</button></td>
                </tr>
            </table>
        </form>
    </div>