<table class="table table-condensed">
    <tr>
        <th colspan="2" class="alert alert-danger">Cancel Case</th>
    </tr>
    <tr>
        <td>Cancellation Reasons:</td>
        <td>
            <select class="form-control" ng-model="inspectionCase.cancelReason" ng-required="true">
                <option value="" disabled >Cancellation reasons</option>
                <option ng-repeat="item in cancelReasons" value="{{item.id}}" ng-selected="item.id === inspectionCase.cancelReason">{{item.id}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right">
            <button type="button" class="btn btn-danger">Cancel Case</button>
        </td>
    </tr>
</table>
