<form ng-submit="rescheduleCase()">
    <table class="table table-condensed">
        <tr>
            <th colspan="2" class="alert alert-success">Reschedule Case</th>
        </tr>
        <tr>
            <td>Inspection Time</td>
            <td>
                <input class="form-control"
                ng-model-options="{ updateOn: 'blur' }"
                placeholder="Select inspection time"
                ng-model="inspectionCase.inspectionTimeModel"
                moment-picker="currentCase.inspectionTime"
                >
            </td>
        </tr>
        <tr>
            <td>Reschedule Reasons:</td>
            <td>
                <select class="form-control" ng-model="inspectionCase.rescheduleReason" ng-required="true">
                    <option value="" disabled >Reschedule reasons</option>
                    <option ng-repeat="item in rescheduleReasons" value="{{item.id}}" ng-selected="item.id === inspectionCase.rescheduleReason">{{item.id}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
                <button type="submit" class="btn btn-primary" >Reschedule Case</button>
            </td>
        </tr>
    </table>
</form>
