<div class="col-xs-12" style='overflow-y: auto; background-color: white;'>
	<div style="text-align: center;">
		<div style="text-align: left; margin: auto;">
	        <label ng-repeat="phototype in photoTypes" style ="margin: 15px;">
	  			<input 
	  			type="checkbox" 
	  			value="{{phototype.name}}"
	  			ng-checked="selection.indexOf(phototype.name) > -1"
	  			ng-model="user.Name"
	  			ng-change="togglePhotoType(phototype.name)"
	  			> {{phototype.name}}
  			   <br></br>
		   </label>
	    </div> 
	</div>
	
	<div style="width: 1px; margin-bottom: 30px; margin-left: 40%;" >
	<button class="btn btn-success" ng-click="confirmHoldQc()">Hold For QC</button>
	</div>
	
</div>
