<div class="panel panel-default">
  <div class="panel-heading clearfix">
     <h3 class="panel-title">All Vehicles</h3>
     <div class="pull-right">
        <button class="btn btn-primary" ng-click="showAddVehicle()"  >Add New Vehicle</button>
     </div>
  </div>
  <div class="panel-body">
    <div layout="row" ng-if="add_vehicle">
      <md-content style="background-color:white !important;" layout-padding flex>
        <form name="addVehicleForm" ng-submit="submitNewVehicle()" ng-init="vehicle">
          <div layout="row" layout-align="center center">
            <md-input-container style="margin: 18px 0 !important;" flex="50">
              <label>Vehicle Type</label>
              <md-select name="vehicle_type" ng-model="vehicle.type" required ng-change="setSubType()">
                <md-option ng-repeat="item in vehicleTypes" ng-value="item.id" >{{item.name}}</md-option>
              </md-select>
              <div ng-messages="addVehicleForm.vehicle_type.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container style="margin: 18px 0 !important;" flex="50">
              <label>Vehicle Sub Type</label>
              <md-select name="vehicle_sub_type" ng-model="vehicle.sub_type" required >
                <md-option value="" ng-if="!vehicle.type">Select Vehicle Type Above</md-option>
                <md-option ng-repeat="item in vehicleSubTypes" ng-value="item.id" >{{item.name}}</md-option>
              </md-select>
              <div ng-messages="addVehicleForm.vehicle_type.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container style="margin: 18px 0 !important;" flex="50">
              <label>Vehicle Make</label>
              <md-select name="vehicle_make" ng-model="vehicle.make" required  ng-change="setSelectedMakeModels()">
                <md-option value="" ng-if="!vehicle.type">Select Vehicle Sub Type Above</md-option>
                <md-option value="-1" ng-if="vehicle.type">Others</md-option>
                <md-option ng-repeat="item in vehicleMakeModelsUniq | orderBy:'make'  track by $index" ng-value="item.make" ng-show="checkVehicleType(item, $index)"md->{{item.make}}</md-option>
              </md-select>
              <div ng-messages="addVehicleForm.vehicle_make.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center" ng-if="other_make">
            <md-input-container style="margin: 18px 0 !important;" flex="50" >
              <label>New Make</label>
              <input required name="other_vehicle_make" ng-model="vehicle.other_make">
              <div ng-messages="addVehicleForm.vehicle_make.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-align="center center" >
            <md-input-container style="margin: 18px 0 !important;" flex="50" >
              <label>New Model</label>
              <input required name="other_vehicle_model" ng-model="vehicle.other_model">
              <div ng-messages="addVehicleForm.other_vehicle_model.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" type="submit">Submit New Vehicle</md-button>
          </div>
        </form>
      <md-content/>
    </div>
    <div layout="row" style="margin-top:15px">
      <div flex>
        <md-input-container class="md-block">
          <label>Search Make/Model</label>
          <input ng-model="filter.vehicle">
        </md-input-container>
        <div class="vehicles-table">
          <table class=" table table-striped">
            <thead>
              <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Sub type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="vehicle in vehicleMakeModels | filter: filter.vehicle">
                <td><b>{{vehicle.make}}</b></td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.subType.name}}</td>
                <td>
                  <button type="button" ng-if="vehicle.enabled" class="btn btn-warning btn-sm pull-right"  ng-click="toggleVehicle(vehicle.id, false)">Disable</button>
                  <button type="button" ng-if="!vehicle.enabled" class="btn btn-success btn-sm pull-right"  ng-click="toggleVehicle(vehicle.id, true)">Enable</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
