<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">Case Requests</h3>
    </div>
    <div class="panel-body">
      <table ng-table="tableParams" class="table table-striped table-bordered table-hover" show-filter="true">

        <tr ng-repeat="qcCase in qcCases">
          <td data-title="'Case ID'"> {{qcCase.id}}</td>
          <td data-title="'Vehicle Number'" filter="{ name: 'text'}" sortable="'vehicleNumber'"> <a href="#/qc-check/{{qcCase.id}}"><i class="fa fa-bus" aria-hidden="true"></i> {{qcCase.vehicleNumber}}</a></td>
          <td data-title="'Customer Name'"> {{qcCase.customerName}}</td>
          <td data-title="'Customer Phone Number'"><a href="tel:{{qcCase.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.customerPhoneNumber}}</a></td>
          <td data-title="'Edit Case'" style="text-align: center">
            <span class="glyphicon glyphicon-pencil btn btn-xs"></span>
          </td>
          <td data-title="'Schdeule Case'"  style="text-align: center">
            <span class="glyphicon glyphicon-pushpin btn btn-xs " ng-click="scheduleCase(qcCase.id)"></span>
          </td>
        </tr>


      </table>
    </div>
  </div>


  <div id="modal-address-requests" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Schedule Case</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td><b>Case Id</b></td>
              <td>{{currentCase.id}}</td>
            </tr>
            <tr>
              <td><b>Vehicle Number</b></td>
              <td>{{currentCase.vehicleNumber}}</td>
            </tr>
            <tr>
              <td><b>Customer Phone Number</b></td>
              <td>{{currentCase.customerPhoneNumber}}</td>
            </tr>
          </table>

          <div id="yolo"></div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>



</div>
