<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">All Agents</h3>
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="goToCreateAgent()">Create
				Agent</button>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group" ng-if="agentList.length==0">
			<li class="list-group-item">No Agent Present.</li>
		</ul>
		<!-- form to get results -->
		<form name="allcases_search_form" ng-submit="getAgentDetails()">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="tel" ng-model="getAgentDetailsModel.contact"
							class="form-control" id="exampleInputPhonenumber"
							pattern="^\d{10}$" aria-describedby="telHelp"
							placeholder="PHONE NUMBER"> <i
							class="glyphicon glyphicon-user form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="email" ng-model="getAgentDetailsModel.emailId"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" placeholder="Enter email"> <i
							class="glyphicon glyphicon-envelope form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="AGENT ID"
							ng-model="getAgentDetailsModel.agentId" /> <i
							class="glyphicon glyphicon-user form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<md-select ng-model="getAgentDetailsModel.branch"
						placeholder="SELECT BRANCH" ng-change="getAgentDetails()"
						style="margin:0px"> <md-option
						ng-repeat="v in branchList" ng-selected="v == branchList">{{
					v }}</md-option> </md-select>
				</div>
				<div class="col-md-3">
					<div>
						<button class="btn btn-primary" type="submit">SEARCH</button>
						<a class="btn btn-primary" ng-click="getAllAgents()">ALL
							AGENTS</a>
					</div>
				</div>
			</div>
		</form>
		<!-- End of form -->
		<ul class="list-group" ng-if="agentList.length==0">
			<li class="list-group-item">Search to agents.</li>
		</ul>

		<div class="" ng-if="agentList.length>0">
			<!--  <div class="row">
				<div class="col-md-4">
					<div ng-cloak>
						<md-input-container class="md-block"> <label>Search</label>
						<input ng-model="filter.agent"> </md-input-container>
					</div>
				</div>
			</div>  -->
			<div class="row">
				<div class="col-md-12">
					<div ng-cloak>



						<md-table-container>
						<table md-table md-row-select="options.rowSelection"
							multiple="{{options.multiSelect}}" ng-model="selected"
							md-progress="promise">
							<thead ng-if="!options.decapitate" md-head md-order="query.order"
								md-on-reorder="logOrder">
								<tr md-row>
									<th md-column></th>
									<th md-column md-order-by="firstName"><span>Firstname</span></th>
									<th md-column><span>Lastname</span></th>
									<th md-column><span>Contact</span></th>
									<th md-column><span>Email</span></th>
									<th md-column><span>Agent Id</span></th>
									<th md-column><span>Company</span></th>
									<th md-column><span>Branch</span></th>
									<th md-column><span>Status</span>
									<th md-column><span>Comments</span>
									<th md-column><span>What's App</span>
									<th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row md-select="agent" md-on-select="logItem"
									md-auto-select="options.autoSelect"
									ng-repeat="agent in agentList | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
									<td md-cell>{{$index + 1}}</td>
									<td md-cell>{{agent.firstName}}</td>
									<td md-cell>{{agent.lastName}}</td>
									<td md-cell>{{agent.phoneNumber}}</td>
									<td md-cell>{{agent.email}}</td>
									<td md-cell>{{agent.agentCode}}</td>
									<td md-cell>{{agent.agentCompany}}</td>
									<td md-cell>{{agent.branchName}}</td>
									<td md-cell>
										<div class="btn-group" role="group"
											ng-click="showAgentActionsModel(agent)">
											<button type="button" class="btn btn-xs"
												ng-class="agent.enabled ? 'btn-success' : 'btn-danger'"
												title="Account enabled status">
												<i class="fa fa-ban" ng-show="!agent.enabled"></i> <i
													class="fa fa-check" ng-show="agent.enabled"></i>
											</button>
											<button type="button" class="btn btn-xs"
												ng-class="agent.emailVerified ? 'btn-success' : 'btn-warning'"
												title="Email verification">
												<i class="fa fa-envelope"></i>
											</button>
											<button type="button" class="btn btn-xs"
												ng-class="agent.phoneNumberVerified ? 'btn-success' : 'btn-warning'"
												title="Phone number verification">
												<i class="fa fa-phone"></i>
											</button>

											<button type="button" class="btn btn-xs"
												ng-class="agent.passwordChangeRequired ? 'btn-warning' : 'btn-success'"
												title="Password  status">
												<i class="fa fa-key"></i>
											</button>

											<button type="button" class="btn btn-xs"
												ng-class="agent.deviceLocked ? 'btn-success' : 'btn-warning'"
												title="Device IMEI lock status">
												<i class="fa fa-lock" ng-show="agent.deviceLocked"></i> <i
													class="fa fa-unlock" ng-show="!agent.deviceLocked"></i>
											</button>

										</div>
									</td>
									<td md-cell ng-click="showCases(agent)">
										<button type="button" class="btn btn-xs">Show
											Comments</button>
									</td>
									<!-- <td
										ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2C%0A%0AWIMWIsure%20%E0%A4%B8%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%95%E0%A5%87%20%E0%A4%B2%E0%A4%BF%E0%A4%8F%20%E0%A4%A7%E0%A4%A8%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BE%E0%A4%A6%20%21%0A%0ANew%20application%20%E0%A4%95%E0%A5%8B%20Update%20%E0%A4%95%E0%A4%B0%E0%A5%87%E0%A4%82%20%3A%20http%3A%2F%2Fbit.ly%2FIFFCOAPP%0A%0AApp%20Username%20';terminal1='%0A%0AApp%20Password%20';terminal2='%0A%0APhotos%20%E0%A4%B2%E0%A5%87%E0%A4%A8%E0%A5%87%20%E0%A4%95%E0%A5%87%20%E0%A4%A4%E0%A4%B0%E0%A5%80%E0%A4%95%E0%A5%87%20%E0%A4%95%E0%A5%87%20%E0%A4%B2%E0%A4%BF%E0%A4%8F%20PDF%20document%20%E0%A4%95%E0%A5%8B%20%E0%A4%A7%E0%A5%8D%E0%A4%AF%E0%A4%BE%E0%A4%A8%20%E0%A4%B8%E0%A5%87%20%E0%A4%A6%E0%A5%87%E0%A4%96%E0%A5%87%E0%A4%82.%20Photos%20%E0%A4%B8%E0%A4%B9%E0%A5%80%20%E0%A4%B9%E0%A5%8B%E0%A4%A8%E0%A5%87%20%E0%A4%AA%E0%A4%B0%20%E0%A4%86%E0%A4%AA%E0%A4%95%E0%A5%8B%20Inspection%20Report%20%E0%A4%B8%E0%A4%BF%E0%A4%B0%E0%A5%8D%E0%A4%AB%2015%20%20%E0%A4%AE%E0%A4%BF%E0%A4%A8%E0%A4%9F%20%E0%A4%AE%E0%A5%87%E0%A4%82%20%E0%A4%AE%E0%A4%BF%E0%A4%B2%20%E0%A4%9C%E0%A4%BE%E0%A4%8F%E0%A4%97%E0%A5%80%20%21%0A%0A%E0%A4%95%E0%A4%BF%E0%A4%B8%E0%A5%80%20%E0%A4%AD%E0%A5%80%20%E0%A4%B8%E0%A4%B9%E0%A4%BE%E0%A4%AF%E0%A4%A4%E0%A4%BE%20%E0%A4%95%E0%A5%87%20%E0%A4%B2%E0%A4%BF%E0%A4%8F%207290049100%20%E0%A4%AA%E0%A4%B0%20%E0%A4%95%E0%A5%89%E0%A4%B2%20%E0%A4%95%E0%A4%B0%E0%A5%87%E0%A4%82%20%21';">
										<a
										ng-href="{{link+agent.phoneNumber+message+agent.phoneNumber+terminal1+agent.phoneNumber+terminal2}}"
										target="_blank">Message</a>
									</td> -->
									<td
										ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2c%0a%0aWIMWIsure%20%e0%a4%b8%e0%a5%87%20%e0%a4%87%e0%a4%82%e0%a4%b8%e0%a5%8d%e0%a4%aa%e0%a5%87%e0%a4%95%e0%a5%8d%e0%a4%b6%e0%a4%a8%20%e0%a4%95%e0%a4%b0%e0%a4%a8%e0%a5%87%20%e0%a4%95%e0%a5%87%20%e0%a4%b2%e0%a4%bf%e0%a4%8f%20%e0%a4%a7%e0%a4%a8%e0%a5%8d%e0%a4%af%e0%a4%b5%e0%a4%be%e0%a4%a6%20%21%0a%0aWIMWIsure%20%e0%a4%95%e0%a5%80%20%e0%a4%a8%e0%a4%af%e0%a5%80%20%e0%a4%8f%e0%a4%aa%e0%a5%8d%e0%a4%b2%e0%a5%80%e0%a4%95%e0%a5%87%e0%a4%b6%e0%a4%a8%20%e0%a4%85%e0%a4%ac%20%e0%a4%b9%e0%a4%bf%e0%a4%82%e0%a4%a6%e0%a5%80%20mai%20%20%e0%a4%ad%e0%a5%80%20%20%e0%a4%89%e0%a4%aa%e0%a4%b2%e0%a4%ac%e0%a5%8d%e0%a4%a7%20%e0%a4%b9%e0%a5%87%21%20Self%20%e0%a4%87%e0%a4%82%e0%a4%b8%e0%a5%8d%e0%a4%aa%e0%a5%87%e0%a4%95%e0%a5%8d%e0%a4%b6%e0%a4%a8%20%e0%a4%95%e0%a4%b0%e0%a5%87%e0%a4%82%20%e0%a4%af%e0%a4%be%20%e0%a4%ab%e0%a4%bf%e0%a4%b0%20Customer%20%e0%a4%95%e0%a5%8b%20%e0%a4%b2%e0%a4%bf%e0%a4%82%e0%a4%95%20%e0%a4%ad%e0%a5%87%e0%a4%9c%e0%a5%87%e0%a4%82%0a%0aNew%20application%20%e0%a4%95%e0%a5%8b%20Update%20%e0%a4%95%e0%a4%b0%e0%a5%87%e0%a4%82%20%3a%20http%3a%2f%2fbit.ly%2fIFFCO%0a%0aApp%20ka%20Username%20%3a';terminal1='%0a%0aApp%20ka%20Password%20%3a';terminal2='%0a%0aPhotos%20%e0%a4%b2%e0%a5%87%e0%a4%a8%e0%a5%87%20%e0%a4%95%e0%a5%87%20%e0%a4%a4%e0%a4%b0%e0%a5%80%e0%a4%95%e0%a5%87%20%e0%a4%95%e0%a5%87%20%e0%a4%b2%e0%a4%bf%e0%a4%8f%20PDF%20document%20%e0%a4%95%e0%a5%8b%20%e0%a4%a7%e0%a5%8d%e0%a4%af%e0%a4%be%e0%a4%a8%20%e0%a4%b8%e0%a5%87%20%e0%a4%a6%e0%a5%87%e0%a4%96%e0%a5%87%e0%a4%82.%20%0a%0a2-Wheeler%20%e0%a4%95%e0%a5%80%20demo%20%e0%a4%ab%e0%a5%8b%e0%a4%9f%e0%a5%8b%e0%a4%9c%3a%20https%3a%2f%2fiffco.wimwisure.com%2f2-wheeler.pdf%0a4-Wheeler%20%e0%a4%95%e0%a5%80%20demo%20%e0%a4%ab%e0%a5%8b%e0%a4%9f%e0%a5%8b%e0%a4%9c%3a%20https%3a%2f%2fiffco.wimwisure.com%2f4-wheeler.pdf%0a%0aPhotos%20%e0%a4%b8%e0%a4%b9%e0%a5%80%20%e0%a4%b9%e0%a5%8b%e0%a4%a8%e0%a5%87%20%e0%a4%aa%e0%a4%b0%20%e0%a4%86%e0%a4%aa%e0%a4%95%e0%a5%8b%20Inspection%20Report%20%e0%a4%b8%e0%a4%bf%e0%a4%b0%e0%a5%8d%e0%a4%ab%2015%20%20%e0%a4%ae%e0%a4%bf%e0%a4%a8%e0%a4%9f%20%e0%a4%ae%e0%a5%87%e0%a4%82%20%e0%a4%ae%e0%a4%bf%e0%a4%b2%20%e0%a4%9c%e0%a4%be%e0%a4%8f%e0%a4%97%e0%a5%80%20%21%0a%0a%e0%a4%95%e0%a4%bf%e0%a4%b8%e0%a5%80%20%e0%a4%ad%e0%a5%80%20%e0%a4%b8%e0%a4%b9%e0%a4%be%e0%a4%af%e0%a4%a4%e0%a4%be%20%e0%a4%95%e0%a5%87%20%e0%a4%b2%e0%a4%bf%e0%a4%8f%207290049100%20%e0%a4%aa%e0%a4%b0%20%e0%a4%95%e0%a5%89%e0%a4%b2%20%e0%a4%95%e0%a4%b0%e0%a5%87%e0%a4%82%20%21';">
										<a
										ng-href="{{link+agent.phoneNumber+message+agent.phoneNumber+terminal1+agent.phoneNumber+terminal2}}"
										target="_blank">Message</a>
									</td>
								</tr>
							</tbody>
						</table>
						</md-table-container>

						<md-table-pagination md-limit="query.limit"
							md-limit-options="limitOptions" md-page="query.page"
							md-total="{{agentList.length}}"
							md-page-select="options.pageSelect"
							md-boundary-links="options.boundaryLinks"
							md-on-paginate="logPagination"></md-table-pagination>
					</div>
				</div>
			</div>


		</div>

	</div>


	<div id="agent-actions" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Update agent details</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>

	<div id="manual-qc-container3" class="modal fade" tabindex="-1"
		role="dialog" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Comments</h4>
				</div>
				<div class="modal-body" style="padding: 20px;"></div>
			</div>
		</div>
	</div>
</div>
