<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">All Agents</h3>
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="goToCreateAgent()">Create
				Agent</button>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group" ng-if="agentList.length==0">
			<li class="list-group-item">No Agent Present.</li>
		</ul>
		<!-- form to get results -->
		<form name="allcases_search_form" ng-submit="getAgentDetails()">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="tel" ng-model="getAgentDetailsModel.contact"
							class="form-control" id="exampleInputPhonenumber"
							pattern="^\d{10}$" aria-describedby="telHelp"
							placeholder="PHONE NUMBER"> <i
							class="glyphicon glyphicon-user form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="email" ng-model="getAgentDetailsModel.emailId"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" placeholder="Enter email"> <i
							class="glyphicon glyphicon-envelope form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="AGENT ID"
							ng-model="getAgentDetailsModel.agentId" /> <i
							class="glyphicon glyphicon-user form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<md-select ng-model="getAgentDetailsModel.branch"
						placeholder="SELECT BRANCH" ng-change="getAgentDetails()"
						style="margin:0px"> <md-option
						ng-repeat="v in branchList" ng-selected="v == branchList">{{
					v }}</md-option> </md-select>
				</div>
				<div class="col-md-3">
					<div>
						<button class="btn btn-primary" type="submit">SEARCH</button>
						<a class="btn btn-primary" ng-click="getAllAgents()">ALL
							AGENTS</a>
					</div>
				</div>
			</div>
		</form>
		<!-- End of form -->
		<ul class="list-group" ng-if="agentList.length==0">
			<li class="list-group-item">Search to agents.</li>
		</ul>

		<div class="" ng-if="agentList.length>0">
			<!--  <div class="row">
				<div class="col-md-4">
					<div ng-cloak>
						<md-input-container class="md-block"> <label>Search</label>
						<input ng-model="filter.agent"> </md-input-container>
					</div>
				</div>
			</div>  -->
			<div class="row">
				<div class="col-md-12">
					<div ng-cloak>



						<md-table-container>
						<table md-table md-row-select="options.rowSelection"
							multiple="{{options.multiSelect}}" ng-model="selected"
							md-progress="promise">
							<thead ng-if="!options.decapitate" md-head md-order="query.order"
								md-on-reorder="logOrder">
								<tr md-row>
									<th md-column></th>
									<th md-column md-order-by="firstName"><span>Firstname</span></th>
									<th md-column><span>Lastname</span></th>
									<th md-column><span>Contact</span></th>
									<th md-column><span>Email</span></th>
									<th md-column><span>Agent Id</span></th>
									<th md-column><span>Company</span></th>
									<th md-column><span>Branch</span></th>
									<th md-column><span>Status</span>
									<th md-column><span>Case Count</span>
									<th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row md-select="agent" md-on-select="logItem"
									md-auto-select="options.autoSelect"
									ng-repeat="agent in agentList | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
									<td md-cell>{{$index + 1}}</td>
									<td md-cell>{{agent.firstName}}</td>
									<td md-cell>{{agent.lastName}}</td>
									<td md-cell>{{agent.phoneNumber}}</td>
									<td md-cell>{{agent.email}}</td>
									<td md-cell>{{agent.agentCode}}</td>
									<td md-cell>{{agent.agentCompany}}</td>
									<td md-cell>{{agent.branchName}}</td>
									<th md-column><span>Case Count</span>
									<td md-cell>
										<div class="btn-group" role="group"
											ng-click="showAgentActionsModel(agent)">
											<button type="button" class="btn btn-xs"
												ng-class="agent.enabled ? 'btn-success' : 'btn-danger'"
												title="Account enabled status">
												<i class="fa fa-ban" ng-show="!agent.enabled"></i> <i
													class="fa fa-check" ng-show="agent.enabled"></i>
											</button>
											<button type="button" class="btn btn-xs"
												ng-class="agent.emailVerified ? 'btn-success' : 'btn-warning'"
												title="Email verification">
												<i class="fa fa-envelope"></i>
											</button>
											<button type="button" class="btn btn-xs"
												ng-class="agent.phoneNumberVerified ? 'btn-success' : 'btn-warning'"
												title="Phone number verification">
												<i class="fa fa-phone"></i>
											</button>

											<button type="button" class="btn btn-xs"
												ng-class="agent.passwordChangeRequired ? 'btn-warning' : 'btn-success'"
												title="Password  status">
												<i class="fa fa-key"></i>
											</button>

											<button type="button" class="btn btn-xs"
												ng-class="agent.deviceLocked ? 'btn-success' : 'btn-warning'"
												title="Device IMEI lock status">
												<i class="fa fa-lock" ng-show="agent.deviceLocked"></i> <i
													class="fa fa-unlock" ng-show="!agent.deviceLocked"></i>
											</button>

										</div>
									</td>
									<td md-cell data-title="'Cases'" ng-click="showCases(agent)">{{agent.caseCount}}</td>
								</tr>
							</tbody>
						</table>
						</md-table-container>

						<md-table-pagination md-limit="query.limit"
							md-limit-options="limitOptions" md-page="query.page"
							md-total="{{agentList.length}}"
							md-page-select="options.pageSelect"
							md-boundary-links="options.boundaryLinks"
							md-on-paginate="logPagination"></md-table-pagination>
					</div>
				</div>
			</div>


		</div>

	</div>


	<div id="agent-actions" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Update agent details</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>

	<div id="manual-qc-container3" class="modal fade" tabindex="-1"
		role="dialog" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Comments</h4>
					<div class="col-md-2">
					<md-select ng-model="timeframevalue"
						placeholder="SELECT TIME" ng-change="selTimeFrame()"
						style="margin:0px"> <md-option
						ng-repeat="t in timeFrames" ng-selected="t == seltimeFrame">{{
					v }}</md-option> </md-select>
					</div>
				</div>
				<div class="modal-body" style="padding: 20px;"></div>
			</div>
		</div>
	</div>
</div>
