<div class="col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">Allocation Pending</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div ng-cloak style="padding-left:15px;padding-top:15px;padding-bottom:5px;">
            <md-input-container class="md-block">
              <label>Search Cases</label>
              <input ng-model="filter.case">
            </md-input-container>
          </div>
        </div>
      </div>
      <table ng-table="tableParams" class="table table-striped table-bordered table-hover">
        <tr ng-repeat="qcCase in qcCases | filter: filter.case track by $index">
          <td data-title="'Case ID'"> {{qcCase.id}}</td>
          <td data-title="'Vehicle Number'"><i class="fa fa-bus" aria-hidden="true"></i> {{qcCase.vehicleNumber}}</td>
          <td data-title="'Customer Name'"> {{qcCase.customerName}}</td>
          <td data-title="'Customer Phone Number'"><a href="tel:{{qcCase.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.customerPhoneNumber}}</a></td>
          <td data-title="'Agent Phone Number'"><a href="tel:{{qcCase.requestorPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.requestorPhoneNumber}}</a></td>
          <td data-title="'Inspection Time'" class="{{qcCase.flagStatus}}"> {{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td data-title="'Edit'" ng-click="editCase(qcCase.id, $index)">
            <span class="glyphicon glyphicon-pencil btn btn-xs"></span>
          </td>
          <td data-title="'Allot'" ng-click="allotCase(qcCase.id, $index)">
            <span class="glyphicon glyphicon-map-marker btn btn-xs"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="modal-allocation-pending-edit" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg make-directive">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Edit Case</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed" style="width: 100%">
            <tr>
              <th>Case ID</th>
              <th>{{currentCase.id}}</th>
            </tr>
            <tr>
              <td>Customer Phone Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseData.customerPhoneNumber"
                  style="width:250px"
                  ng-value="currentCase.customerPhoneNumber"
                >
              </td>
            </tr>
            <tr>
              <td>Agent Phone Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseData.requestorPhoneNumber"
                  style="width:250px"
                  ng-value="currentCase.requestorPhoneNumber"
                >
              </td>
            </tr>
            <tr>
              <td>Vehicle Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseData.vehicleNumber"
                  style="width:250px"
                  ng-value="currentCase.vehicleNumber"
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button ng-cloak ng-click="updateCaseDetails()" class="btn btn-primary pull-right" >Update Case Details</button>
              </td>
            </tr>
          </table>

          <close-case inspection-case="currentCase" callback="closeCaseCallback()"></close-case>

          <table ng-show="enable_inspector" class="table table-condensed">
            <tr>
              <th colspan="2" class="alert alert-danger">Cancel Case</th>
            </tr>
            <tr>
              <td>Cancellation Reasons:</td>
              <td>
                <select class="form-control" ng-model="currentCase.cancelReason" ng-required="true">
                  <option value="" disabled >Cancellation reasons</option>
                  <option ng-repeat="item in cancelReasons" value="{{item.id}}" ng-selected="item.id === currentCase.cancelReason">{{item.id}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: right">
                <button type="button" ng-click="cancelCase()" class="btn btn-danger">Cancel Case</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-allocation-pending-allot" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Allocation Pending</h4>
        </div>
        <div class="modal-body">
          <div layout="row">
            <div flex="50">
                <p>Case ID</p>
                <p>Vehicle Number</p>
                <p>Customer Phone Number</p>
            </div>
            <div flex="50">
              <h3>{{currentCase.id}}</h3>
              <h3>{{currentCase.vehicleNumber}}</h3>
              <h3>{{currentCase.customerPhoneNumber}}</h3>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="row" style="margin-top:25px">
            <div flex="50" style="margin:3px">
              <md-input-container class="no-md-errors-spacer">
                <label>Search Radius(km)</label>
                <input ng-model="case.radius">
              </md-input-container>
              <md-button ng-click="updateInspectorRadius(0)" class=" md-raised  pull-right" style="margin:0px !important;">Refresh List</md-button>
            </div>
            <div flex="50" style="margin:3px">
              <div ng-cloak>
                <md-input-container class="no-md-errors-spacer">
                  <label>Search Inspectors</label>
                  <input ng-model="filter.agents">
                </md-input-container>
              </div>
            </div>
          </div>
          <div layout="row" style="margin-top:5px;">
            <div flex="50">
              <div style="margin-bottom: 20px;">
                <div id="allocation-map" class="allocation-map"></div>
              </div>
            </div>
            <div flex="50">
              <div ng-cloak style="height:350px;overflow-y:scroll;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th style="text-align:center" >Phone Number</th>
                      <th style="text-align:center" >Distance</th>
                      <th style="text-align:center" >Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="inspector in inspectorsInRadius | filter: filter.agents track by $index">
                      <td>{{inspector.firstName}} &nbsp {{inspector.lastName}}</td>
                      <td style="text-align:center" >{{inspector.phoneNumber}}</td>
                      <td style="text-align:center" >{{inspector.distance || n/a}}</td>
                      <td style="text-align:center" >
                        <md-radio-group ng-model="case.selectedInspectorUsername" layout-align="center center">
                          <md-radio-button style="margin-left:22px" aria-label="{{inspector.username}}" ng-value="{{inspector.username}}" class="md-primary"></md-radio-button>
                        </md-radio-group>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <md-button class="md-raised md-primary pull-right" ng-click="assignCaseToInspector()">Submit</md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
