<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Case Requests</h3>
        </div>
        <div class="panel-body">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover" show-filter="true">

                <tr ng-repeat="qcCase in qcCases">
                    <td data-title="'Case ID'"> {{qcCase.id}}</td>
                    <td data-title="'Vehicle Number'" filter="{ name: 'text'}" sortable="'vehicleNumber'"> <i class="fa fa-bus" aria-hidden="true"></i> {{qcCase.vehicleNumber}}</td>
                    <td data-title="'Customer Name'"> {{qcCase.customerName}}</td>
                    <td data-title="'Customer Phone'"><a href="tel:{{qcCase.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.customerPhoneNumber}}</a></td>
                    <td data-title="'Agent Phone'"><a href="tel:{{qcCase.requestorPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.requestorPhoneNumber}}</a></td>
                    <td data-title="'Creation Time'"> {{qcCase.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td data-title="'Inspection Time'"> {{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td data-title="'Edit'" style="text-align: center">
                        <span class="glyphicon glyphicon-pencil btn btn-xs" ng-click="editCase(qcCase.id)"></span>
                    </td>
                    <td data-title="'Allot'" style="text-align: center">
                        <span class="glyphicon glyphicon-user btn btn-xs" ng-click="allotCase(qcCase.id)"></span>
                    </td>
                </tr>


            </table>
        </div>
    </div>



<div id="case-requests-modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit Case</h4>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Case Id</b></td>
                            <td>{{currentCase.id}}</td>
                        </tr>
                        <tr>
                            <td><b>Customer Phone Number</b></td>
                            <td>{{currentCase.customerPhoneNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Vehicle Number</b></td>
                            <td>{{currentCase.vehicleNumber}}</td>
                        </tr>
                        <tr>
                            <td><b>Agent Phone Number</b></td>
                            <td>{{currentCase.requestorPhoneNumber}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <reschedule-case inspection-case="currentCase"></reschedule-case>
        <div class="row">
          <div class="col-lg-6">
            <cancel-case inspection-case="currentCase"></cancel-case>
          </div>
          <div class="col-lg-6">
            <close-case inspection-case="currentCase"></close-case>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="case-requests-modal-2" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit Case</h4>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Case Id</b></td>
                            <td>{{currentCase.id}}</td>
                        </tr>
                        <tr>
                            <td><b>Customer Phone Number</b></td>
                            <td>{{currentCase.customerPhoneNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Vehicle Number</b></td>
                            <td>{{currentCase.vehicleNumber}}</td>
                        </tr>
                        <tr>
                            <td><b>Agent Phone Number</b></td>
                            <td>{{currentCase.requestorPhoneNumber}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


          <table class="table">
              <tr>
                  <td colspan="2">Enter agent/inspector phone number: </td>
              </tr>
              <tr>
                  <td><input type="text" ng-model="searchUserModel" class="form-control"></td>
                  <td><button class="btn btn-primary" ng-click="searchUser()">Search</button></td>
              </tr>
          </table>


          <div class="col-xs-12" ng-show="matchedUser">
              <div class="col-xs-3">
                  <img src=".{{matchedUser.profilePhotoRelativeUrl}}"/>
              </div>
              <div class="col-xs-9">
                  <table class="table">
                      <tr><td>Name: </td><td>{{matchedUser.firstName}} {{matchedUser.lastName}}</td></tr>
                      <tr><td>Phone Number: </td><td>{{matchedUser.phoneNumber}}</td></tr>
                      <tr><td>Email: </td><td>{{matchedUser.email}}</td></tr>
                  </table>
              </div>
          </div>
          <br style="clear: both"/>
          <div style="text-align: right">
              <button class="btn btn-success" ng-click="updateCase(currentCase.id)" ng-show="matchedUser">Allot User</button>
          </div>

      </div>
    </div>
  </div>
</div>


</div>
