<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Completed Cases</h3>
        </div>
        <div class="panel-body">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover" show-filter="true">
                
                <tr ng-repeat="qcCase in qcCases">
                    <td data-title="'Case ID'"> {{qcCase.id}}</td>
                    <td data-title="'Vehicle Number'" filter="{ name: 'text'}" sortable="'vehicleNumber'"> <i class="fa fa-bus" aria-hidden="true"></i> {{qcCase.vehicleNumber}}</td>
                    <td data-title="'Customer Name'"> {{qcCase.customerName}}</td>
                    <td data-title="'Customer Phone Number'"><a href="tel:{{qcCase.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.customerPhoneNumber}}</a></td>
                    <td data-title="'Inspection Time'"> {{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td data-title="'Inspection Report'"> 
                        <a href="util/cases/download-report/?case_id={{qcCase.id}}" target='_blank'>Report</a>
                    </td>
                </tr>
                
                    
            </table>
        </div>
    </div>
</div>

            