<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-success" role="alert">

			Management dashboard section has been updated. <a
				class="btn btn-success" href="javascript:void(0);"
				onclick="javascript:introJs().start();">Guide </a>
		</div>

	</div>
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>
					<div class="panel-title">
						Management Dashboard
						<div class="btn-group btn-group-sm pull-right" role="group"
							data-step="1"
							data-intro="Filter Management dashboard and MIS report by the duration selected!">
							<button type="button" ng-class="todayClass"
								ng-click="setTimeFilter('TODAY')">Today</button>
							<button type="button" ng-class="weekClass"
								ng-click="setTimeFilter('CURRENT_WEEK')">Current Week</button>
							<button type="button" ng-class="monthClass"
								ng-click="setTimeFilter('CURRENT_MONTH')">
								Month <small>till date</small>
							</button>
							<button type="button" ng-class="yearClass"
								ng-click="setTimeFilter('CURRENT_YEAR')">
								Year <small>till date</small>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>Company</label>
								<md-select ng-model="branchFilter.company"
									ng-change="setStateOptions()"> <md-option
									ng-repeat="company in companyData | orderBy:'toString()'"
									ng-value="company.name"
									ng-selected="company.name==defaultCompany?true:false">
								{{company.name}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>State</label>
								<md-select ng-model="branchFilter.state"
									ng-change="setDivisionOptions()"> <md-option
									ng-value="All">All</md-option> <md-option
									ng-repeat="state in branchFilterData.states | orderBy:'toString()'"
									ng-value="state" ng-selected="state==defaultState?true:false">
								{{state}} </md-option> </md-select> </md-input-container>
							</div>
			 			</div>
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>Division</label>
								<md-select ng-model="branchFilter.division"
									ng-change="setBranchOptions()"> <md-option
									ng-value="null"></md-option> <md-option ng-value="All">All</md-option>
								<md-option
									ng-repeat="division in branchFilterData.divisions | orderBy:'toString()'"
									ng-value="division"> {{division}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-12">
								<md-input-container style="width:240px;"> <label>Branch</label>
								<md-select ng-model="branchFilter.branch"> <md-option
									ng-value="null"></md-option> <md-option ng-value="All">All</md-option>
								<md-option
									ng-repeat="branch in branchFilterData.branches | orderBy:'toString()'"
									ng-value="branch"> {{branch}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" style="text-align: center">
								<button type="button" class="btn btn-default btn-sm"
									style="margin-top: 20px" ng-click="updateStats()">Update
									Stats</button>
							</div>
						</div>
					</div>
					<div id="summary-containers" class="col-md-9" ng-cloak>
						<div class="row">
							<div class="col-md-4" data-step="2"
								data-intro="Count of all the cases created/completed/pending for selected time duration!">
								<div class="panel minimal panel-primary dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title">Cases Created</div>
									</div>
									<div class="panel-body">
										<div align="center">
											<h1 class="no-margins">
												<b>{{dashboardStats.totalCaseCount}}</b>
											</h1>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-success dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Completed <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">

										<div align="center">
											<h1 class="no-margins">
												<b>{{dashboardStats.completedCasesCount}}</b>
											</h1>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-danger dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Pending <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div align="center">
											<h1 class="no-margins">
												<b>{{dashboardStats.cancelledCasesCount}}</b>
											</h1>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4" data-step="3"
								data-intro="Distribution of completed cases by vehicle types!">
								<div class="panel minimal panel-info dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											2 Wheeler <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.twoWheelersCount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.twoWheelersCountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-info dashboard-panel">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											4 Wheeler <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.fourWheelersCount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.fourWheelersCountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-info dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Commercial <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.commercialsCount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.commercialsCountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4" data-step="4"
								data-intro="Distribution of completed cases by QC recommendation!">
								<div class="panel minimal panel-success dashboard-panel">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Recommended <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.recommendedCount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.recommendedCountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-danger dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Not Recommended <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.notRecommendedCount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.notRecommendedCountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="panel minimal panel-warning dashboard-panel ">
									<div class="panel-heading clearfix">
										<div class="panel-title" style="width: 100%">
											Underwriter <small class="pull-right">%</small>
										</div>
									</div>
									<!-- panel body -->
									<div class="panel-body">
										<div class="row col-with-divider">
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.pendingcount}}</b>
												</h1>
											</div>
											<div class="col-xs-6 text-center stack-order">
												<h1 class="no-margins" ng-cloak>
													<b>{{dashboardStats.pendingcountPerc}}<small>%</small></b>
												</h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" data-step="5"
	data-intro="Download CSV MIS report filtered by Case creation date for the selected time duration">
	<div class="col-md-12">
		<div class="panel panel-info ">
			<div class="panel-heading">
				<div>
					<div class="panel-title">
						Generate CSV MIS Report (Filtered by Creation Date)
						<div class="btn-group btn-group-sm pull-right" role="group">
							<button type="button" class="btn btn-default"
								ng-click="generateExcel()">Download Excel</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								<md-card> <md-card-title> <md-card-title-text>
								<span class="md-headline">Available Fields</span> </md-card-title-text> </md-card-title> <md-list
									ng-cloak> <md-list-item
									ng-repeat="field in availableFields track by $index">
								<p>{{ field.name }}</p>
								<md-switch class="md-secondary" ng-model="field.enabled"
									ng-change="toggleField($index)"></md-switch> </md-list-item> </md-list> </md-card>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<md-card>
						<div ui-grid="gridOptions" ui-grid-pagination
							ui-grid-resize-columns class="ui-grid-dim"></div>
						</md-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="row col-with-divider">
  <div class="col-xs-6 text-center stack-order">
    <h1 class="no-margins">87</h1>
    <small>This week</small>
  </div>
  <div class="col-xs-6 text-center stack-order">
    <h1 class="no-margins">53</h1>
    <small>Last week</small>
  </div>
</div> -->
