<div>
    <div class="progress progress-video" ng-if="caseVideoRequest"
         style="width: 100%">
        <div class="progress-bar progress-bar-striped active"
             role="progressbar" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100" style="width: 100%;">Downloading.
            Please wait!...</div>
    </div>
    <div ng-if="!caseVideoRequest">
        <div id="qc-video-container">
            <video width="800" controls>
                <source ng-if="!caseVideoRequest" src="{{caseVideo| trustUrl}}"
                        type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>