<div class="col-xs-12">
    <div class="row" style="padding: 20px 10px 0px 10px;">
        <div class="col-xs-6">
            <img src="images/logo.png" alt="Mouldifi" title="Mouldifi" style="max-height: 50px;">
        </div>
        <div class="col-xs-6" style="text-align: right; font-weight: bold;">
            <p>HEDGEROW TECHNOLOGIES PRIVATE LIMITED<br/>
            Phone Number: +91 9638010557<br/>
            Email: info@wimwisure.com</p>
            
        </div>
    </div>
    <hr style="border-top-width: 10px; border-color: #00b8ce; margin: 0px;"/>
    <hr style="border-top-width: 10px; border-color: orangered; margin-top: 0px;"/>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-condensed">
                <tr><td>Insurer</td><td>{{ic.insuranceCompany.name}}</td></tr>
                <tr><td>Agent</td><td>{{ic.requestorName}}</td></tr>
                <tr><td>Purpose</td><td>{{ic.purposeOfInspection.name}}</td></tr>
                <tr><td>Inspection Status</td><td style="text-transform: uppercase"><b>{{ic.remark}}</b></td></tr>
            </table>
        </div>
        <div class="col-xs-6">
            <table class="table table-condensed">
                <tr><td>Owner Name</td><td>{{ic.customerName}}</td></tr>
                <tr><td>Vehicle Number</td><td>{{ic.vehicleNumber}}</td></tr>
                <tr><td>Make</td><td>{{ic.vehicle.make}}</td></tr>
                <tr><td>Model</td><td>{{ic.vehicle.model}}</td></tr>
                <tr><td>Mfg. Year</td><td>{{ic.vehicleYOM}}</td></tr>
                <tr><td>Color</td><td>{{ic.vehicleColor}}</td></tr>
                <tr><td>Fuel Type</td><td>{{ic.vehicleFuelType.name}}</td></tr>
            </table>
        </div>
        <div class="col-xs-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Front</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.front">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Left</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.left">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Right</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.right">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Back</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.back">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Bottom</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.bottom">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table">
                <tr style="background-color: #00b8ce; color: white">
                    <th colspan="2">Others</th>
                </tr>
                <tr ng-repeat="item in questionsGrouped.others">
                    <td > {{item.value}}</td>
                    <td > {{item.answer.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="row">
    </div>
</div>