<div>
    <table ng-table="tableParams" class="table table-striped table-bordered table-hover">
        <tr ng-repeat="qcCase in qcCases | filter: filter.case">
            <td data-title="'#'"> {{$index + 1}}</td>
            <td data-title="'Case ID'"> {{qcCase.id}}</td>
          <td data-title="'Vehicle No.'"><i class="fa fa-bus" aria-hidden="true"></i> {{qcCase.vehicleNumber}}</td>
          <td data-title="'Cust. Phone'"><a href="tel:{{qcCase.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{qcCase.customerPhoneNumber}}</a></td>
          <td> <a class='btn btn-xs btn-success' href='https://wimwisure-customer-app.herokuapp.com/?case_id={{qcCase.id}}'>Start</a></td>
        </tr>
      </table>
</div>