<div class="col-lg-12">
	<md-tabs md-dynamic-height="true"> <md-tab label="online"
		md-on-select="getOnlineScheduledCases()"> </md-tab> </md-tabs>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Scheduled cases</h3>
			<div flex="" layout="row" layout-align="center center"
				class="layout-align-end-center layout-row flex">
				<p style="margin: 0px !important">Initiate system call:</p>
				<md-radio-group ng-model="data.value" layout="row"
					ng-change="radioChanged(data.value)"> <md-radio-button
					value="start" class="md-primary">Start</md-radio-button> <md-radio-button
					value="stop"> Stop </md-radio-button> </md-radio-group>
			</div>
		</div>
	</div>


	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<div ng-cloak
					style="padding-left: 15px; padding-top: 15px; padding-bottom: 5px;">
					<md-input-container class="md-block"> <label>Search
						Cases</label> <input ng-model="filter.case"> </md-input-container>
				</div>
			</div>
		</div>
		<md-content> <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Not Started"> <md-content class="md-padding">
		<table ng-table="tableParams"
			class="table table-striped table-bordered table-hover">
			<tr
				ng-repeat="qcCase in qcCases | filter: filter.case | filter: {inspectionStage:0}">
				<td data-title="'#'">{{$index + 1}}</td>
				<td data-title="'Case ID'">{{qcCase.id}}</td>
				<td data-title="'Company'" style="width: 1px"><img
					ng-src="util/company-image/{{qcCase.logoUrl}}" /> <span
					style="display: none">{{qcCase.insuranceCompanyName}}</span></td>
				<td data-title="'Branch'">{{qcCase.branch}}</td>

				<td data-title="'Vehicle Number'"><i class="fa fa-motorcycle"
					aria-hidden="true" ng-show="qcCase.vehicleType==='2-wheeler'"></i>
					<i class="fa fa-car" aria-hidden="true"
					ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
					class="fa fa-truck" aria-hidden="true"
					ng-show="qcCase.vehicleType==='commercial'"></i>
					{{qcCase.vehicleNumber}}</td>
				<td data-title="'Ins. No.'">{{qcCase.inspectionNumber}}</td>
				<td data-title="'Agent Phone'"><a
					href="tel:{{qcCase.requestorPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.requestorPhoneNumber}}</a></td>

				<td data-title="'Customer Phone'"><a
					href="tel:{{qcCase.customerPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.customerPhoneNumber}}</a></td>
				<td data-title="'Inspection Time'" class="{{qcCase.flagStatus}}">
					{{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td data-title="'Actions'"><span
					class="glyphicon glyphicon-pencil btn btn-xs"
					ng-click="editCase(qcCase.id)"></span> <span><i
						class="fa fa-reply" aria-hidden="true"
						ng-click='moveToQC(qcCase.id)' title='Move to QC'></i></span><span>
						<i class="btn btn-xs btn-info" aria-hidden="true"
						ng-click='getOTP(qcCase.customerPhoneNumber)'
						title='GET CUSTOMER OTP'>OTP</i>
						<button title="Manual QC" class="btn btn-xs btn-info"
							ng-click="uploadInspectionFileModel(qcCase)">
							<i class="fa fa-cloud-upload" aria-hidden="true"></i>
						</button> <i class="fa fa-weixin" aria-hidden="true"
						ng-show="qcCase.inspectionTypeDisplay=='Customer'"
						ng-click='sendCaseCreatedSMS(qcCase.id)' title='Send SMS'></i>

				</span></td>
				<!-- <td data-title="'Manual QC'">
					<button class="btn btn-sm btn-primary" ng-click="manualQCInit(qcCase)">Manual QC</button>
					<button class="btn btn-sm btn-primary"
						ng-click="uploadInspectionFileModel(qcCase)">Upload</button>
				</td> -->

				<td data-title="'Com'" ng-click="showComments(qcCase)">
					{{qcCase.countComments}}</td>
				<!-- <td data-title="'Customer'"><a ng-href=""
						ng-click="whatsAppCustomer(qcCase)">{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'
							? 'Send Message' : null }}</a></td> -->
				<td data-title="'WApp'"
					ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0ASelf-Inspection%20request%20created%20for%20vehicle%20';terminal='.%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';custMessage='&text=Dear%20Customer%2C%20%0A%0AWe%20have%20received%20inspection%20request%20for%20your%20vehicle%20';custAppMessage='.%0A%0AInspection%20Karne%20ke%20process%20ke%20liye%20video%20dekhein%20%3A%20https%3A%2F%2Fyoutu.be%2Fk6Sy3Nwes6M%0A%0Ahttp%3A%2F%2Fbit.ly%2FIFFCOcust%20%E0%A4%B8%E0%A5%87%20Self%20Inspection%20Application%20download%20%E0%A4%95%E0%A4%B0%E0%A5%87%E0%A4%82%20%0A%0AView%20sample%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%0A%0A2-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F2-wheeler.pdf%0A%0A4-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F4-wheeler.pdf%0A%0AMake%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%20%20for%20any%20support.';custTerminal='.%20%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';">
					<a ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'}}"
					ng-href=" {{link+qcCase.customerPhoneNumber+custMessage+qcCase.vehicleNumber+custAppMessage+resp+custTerminal}}"
					target="_blank">Message</a> <a
					ng-show="{{qcCase.inspectionType=='SELF_INSPECT'}}"
					ng-href="{{link+qcCase.requestorPhoneNumber+message+qcCase.vehicleNumber+terminal}}"
					target="_blank">Message</a>
				</td>
			</tr>
		</table>
		</md-content> </md-tab> <md-tab label="Started"> <md-content class="md-padding">
		<table ng-table="tableParams"
			class="table table-striped table-bordered table-hover">
			<tr
				ng-repeat="qcCase in qcCases | filter: filter.case | filter: {inspectionStage:1}">
				<td data-title="'#'">{{$index + 1}}</td>
				<td data-title="'Case ID'">{{qcCase.id}}</td>
				<td data-title="'Company'" style="width: 1px"><img
					ng-src="util/company-image/{{qcCase.logoUrl}}" /> <span
					style="display: none">{{qcCase.insuranceCompanyName}}</span></td>
				<td data-title="'Branch'">{{qcCase.branch}}</td>

				<td data-title="'Vehicle Number'"><i class="fa fa-motorcycle"
					aria-hidden="true" ng-show="qcCase.vehicleType==='2-wheeler'"></i>
					<i class="fa fa-car" aria-hidden="true"
					ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
					class="fa fa-truck" aria-hidden="true"
					ng-show="qcCase.vehicleType==='commercial'"></i>
					{{qcCase.vehicleNumber}}</td>
				<td data-title="'Type'">{{qcCase.inspectionTypeDisplay}}</td>
				<td data-title="'Agent Phone'"><a
					href="tel:{{qcCase.requestorPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.requestorPhoneNumber}}</a></td>

				<td data-title="'Customer Phone'"><a
					href="tel:{{qcCase.customerPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.customerPhoneNumber}}</a></td>
				<td data-title="'Inspection Time'" class="{{qcCase.flagStatus}}">
					{{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td data-title="'Actions'"><span
					class="glyphicon glyphicon-pencil btn btn-xs"
					ng-click="editCase(qcCase.id)"></span> <span><i
						class="fa fa-reply" aria-hidden="true"
						ng-click='moveToQC(qcCase.id)' title='Move to QC'></i></span><span>
						<i class="btn btn-xs btn-info" aria-hidden="true"
						ng-click='getOTP(qcCase.customerPhoneNumber)'
						title='GET CUSTOMER OTP'>OTP</i>
						<button title="Manual QC" class="btn btn-xs btn-info"
							ng-click="uploadInspectionFileModel(qcCase)">
							<i class="fa fa-cloud-upload" aria-hidden="true"></i>
						</button> <i class="fa fa-weixin" aria-hidden="true"
						ng-show="qcCase.inspectionTypeDisplay=='Customer'"
						ng-click='sendCaseCreatedSMS(qcCase.id)' title='Send SMS'></i>
				</span></td>
				<!-- <td data-title="'Manual QC'">
					<button class="btn btn-sm btn-primary" ng-click="manualQCInit(qcCase)">Manual QC</button>
					<button class="btn btn-sm btn-primary"
						ng-click="uploadInspectionFileModel(qcCase)">Upload</button>
				</td> -->

				<td data-title="'Comments'" ng-click="showComments(qcCase)">
					{{qcCase.countComments}}</td>
				<!-- <td data-title="'Customer'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';salutation='&text=Dear%20';message='%2C%20We%20have%20received%20inspection%20request%20for%20your%20vehicle%20';terminal1='.%20Please%20download%20the%20Self%20Inspection%20Application%20from%20link%20%3A%20';terminal2='Please%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20Call%207290049100%20for%20any%20support.'">
						<a
						ng-href="{{link+qcCase.customerPhoneNumber+salutation+'Customer'+message+qcCase.vehicleNumber+terminal1+url+terminal2}}">{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'
							? 'Send Message' : null }}</a>
					</td> -->
				<td data-title="'Whats App'"
					ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0ASelf-Inspection%20request%20created%20for%20vehicle%20';terminal='.%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';custMessage='&text=Dear%20Customer%2C%20%0A%0AWe%20have%20received%20inspection%20request%20for%20your%20vehicle%20';custAppMessage='.%0A%0AInspection%20Karne%20ke%20process%20ke%20liye%20video%20dekhein%20%3A%20https%3A%2F%2Fyoutu.be%2Fk6Sy3Nwes6M%0A%0Ahttp%3A%2F%2Fbit.ly%2FIFFCOcust%20%E0%A4%B8%E0%A5%87%20Self%20Inspection%20Application%20download%20%E0%A4%95%E0%A4%B0%E0%A5%87%E0%A4%82%20%0A%0AView%20sample%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%0A%0A2-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F2-wheeler.pdf%0A%0A4-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F4-wheeler.pdf%0A%0AMake%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%20%20for%20any%20support.';custTerminal='.%20%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';">
					<a ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'}}"
					ng-href=" {{link+qcCase.customerPhoneNumber+custMessage+qcCase.vehicleNumber+custAppMessage+resp+custTerminal}}"
					target="_blank">Send Message</a> <a
					ng-show="{{qcCase.inspectionType=='SELF_INSPECT'}}"
					ng-href="{{link+qcCase.requestorPhoneNumber+message+qcCase.vehicleNumber+terminal}}"
					target="_blank">Send Message</a>
				</td>
			</tr>
		</table>
		</md-content> </md-tab> <md-tab label="Finished"> <md-content class="md-padding">
		<table ng-table="tableParams"
			class="table table-striped table-bordered table-hover">
			<tr
				ng-repeat="qcCase in qcCases |filter: filter.case |  filter : {inspectionStage:2}">
				<td data-title="'#'">{{$index + 1}}</td>
				<td data-title="'Case ID'">{{qcCase.id}}</td>
				<td data-title="'Company'" style="width: 1px"><img
					ng-src="util/company-image/{{qcCase.logoUrl}}" /> <span
					style="display: none">{{qcCase.insuranceCompanyName}}</span></td>
				<td data-title="'Branch'">{{qcCase.branch}}</td>

				<td data-title="'Vehicle Number'"><i class="fa fa-motorcycle"
					aria-hidden="true" ng-show="qcCase.vehicleType==='2-wheeler'"></i>
					<i class="fa fa-car" aria-hidden="true"
					ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
					class="fa fa-truck" aria-hidden="true"
					ng-show="qcCase.vehicleType==='commercial'"></i>
					{{qcCase.vehicleNumber}}</td>
				<td data-title="'Type'">{{qcCase.inspectionTypeDisplay}}</td>
				<td data-title="'Agent Phone'"><a
					href="tel:{{qcCase.requestorPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.requestorPhoneNumber}}</a></td>

				<td data-title="'Customer Phone'"><a
					href="tel:{{qcCase.customerPhoneNumber}}"><i
						class="fa fa-phone" aria-hidden="true"></i>
						{{qcCase.customerPhoneNumber}}</a></td>
				<td data-title="'Inspection Time'" class="{{qcCase.flagStatus}}">
					{{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td data-title="'Actions'"><span
					class="glyphicon glyphicon-pencil btn btn-xs"
					ng-click="editCase(qcCase.id)"></span> <span><i
						class="fa fa-reply" aria-hidden="true"
						ng-click='moveToQC(qcCase.id)' title='Move to QC'></i></span><span>
						<i class="btn btn-xs btn-info" aria-hidden="true"
						ng-click='getOTP(qcCase.customerPhoneNumber)'
						title='GET CUSTOMER OTP'>OTP</i>
						<button title="Manual QC" class="btn btn-xs btn-info"
							ng-click="uploadInspectionFileModel(qcCase)">
							<i class="fa fa-cloud-upload" aria-hidden="true"></i>
						</button> <i class="fa fa-weixin" aria-hidden="true"
						ng-show="qcCase.inspectionTypeDisplay=='Customer'"
						ng-click='sendCaseCreatedSMS(qcCase.id)' title='Send SMS'></i>
				</span></td>
				<!-- <td data-title="'Manual QC'">
					<button class="btn btn-sm btn-primary" ng-click="manualQCInit(qcCase)">Manual QC</button>
					<button class="btn btn-sm btn-primary"
						ng-click="uploadInspectionFileModel(qcCase)">Upload</button>
				</td> -->

				<td data-title="'Comments'" ng-click="showComments(qcCase)">
					{{qcCase.countComments}}</td>
				<!-- <td data-title="'Customer'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';salutation='&text=Dear%20';message='%2C%20We%20have%20received%20inspection%20request%20for%20your%20vehicle%20';terminal1='.%20Please%20download%20the%20Self%20Inspection%20Application%20from%20link%20%3A%20';terminal2='Please%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20Call%207290049100%20for%20any%20support.'">
						<a
						ng-href="{{link+qcCase.customerPhoneNumber+salutation+'Customer'+message+qcCase.vehicleNumber+terminal1+url+terminal2}}">{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'
							? 'Send Message' : null }}</a>
					</td> -->
				<td data-title="'Whats App'"
					ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0ASelf-Inspection%20request%20created%20for%20vehicle%20';terminal='.%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';custMessage='&text=Dear%20Customer%2C%20%0A%0AWe%20have%20received%20inspection%20request%20for%20your%20vehicle%20';custAppMessage='.%0A%0AInspection%20Karne%20ke%20process%20ke%20liye%20video%20dekhein%20%3A%20https%3A%2F%2Fyoutu.be%2Fk6Sy3Nwes6M%0A%0Ahttp%3A%2F%2Fbit.ly%2FIFFCOcust%20%E0%A4%B8%E0%A5%87%20Self%20Inspection%20Application%20download%20%E0%A4%95%E0%A4%B0%E0%A5%87%E0%A4%82%20%0A%0AView%20sample%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%0A%0A2-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F2-wheeler.pdf%0A%0A4-Wheeler%20%3A%20%20https%3A%2F%2Fiffco.wimwisure.com%2F4-wheeler.pdf%0A%0AMake%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%20%20for%20any%20support.';custTerminal='.%20%0A%0APlease%20view%20the%20attached%20PDF%20before%20taking%20the%20photos%20of%20your%20vehicle.%20Make%20sure%20you%20know%20the%20Chassis%20%26%20VIN%20plate%20location%20before%20starting%20the%20inspection.%20%0A%0A%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20%E0%A4%B8%E0%A5%8D%E0%A4%9F%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%20%E0%A4%95%E0%A4%B0%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A5%87%20%E0%A4%AA%E0%A4%B9%E0%A4%B2%E0%A5%87%20Chassis%20%20%26%20VIN%20%E0%A4%AA%E0%A5%8D%E0%A4%B2%E0%A5%87%E0%A4%9F%20%E0%A4%95%E0%A5%80%20%E0%A4%B2%E0%A5%8B%E0%A4%95%E0%A5%87%E0%A4%B6%E0%A4%A8%20%E0%A5%9B%E0%A4%B0%E0%A5%82%E0%A4%B0%20%E0%A4%9C%E0%A4%BE%E0%A4%A8%20%E0%A4%B2%E0%A5%87%E0%A4%82.%20%E0%A4%AC%E0%A4%BF%E0%A4%A8%E0%A4%BE%20Chassis%20%20%26%20VIN%20%E0%A4%95%E0%A5%80%20%E0%A4%AB%E0%A5%8B%E0%A4%9F%E0%A5%8B%20%E0%A4%95%E0%A5%87%20%E0%A4%87%E0%A4%82%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%A8%20Recommend%20%E0%A4%A8%E0%A4%B9%E0%A5%80%E0%A4%82%20%E0%A4%B9%E0%A5%8B%E0%A4%97%E0%A4%BE.%0A%0ACall%207290049100%20for%20any%20support.';">
					<a ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER'}}"
					ng-href=" {{link+qcCase.customerPhoneNumber+custMessage+qcCase.vehicleNumber+custAppMessage+resp+custTerminal}}"
					target="_blank">Send Message</a> <a
					ng-show="{{qcCase.inspectionType=='SELF_INSPECT'}}"
					ng-href="{{link+qcCase.requestorPhoneNumber+message+qcCase.vehicleNumber+terminal}}"
					target="_blank">Send Message</a>
				</td>

			</tr>
		</table>
		</md-content> </md-tab> </md-tabs></md-content>
	</div>
</div>
<div id="modal-n" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Active OTP's</h4>
			</div>
			<table ng-table="tableParams"
				class="table table-condensed table-striped">
				<tr ng-repeat="otp in otps">
					<td data-title="'OTP'" style="text-align: center">{{otp.otp}}</td>
					<td data-title="'TYPE'" style="text-align: center">{{otp.otpType}}</td>
					<td data-title="'GROUP'" style="text-align: center">{{otp.otpGroup}}</td>
					<td data-title="'EXPIRY'" style="text-align: center">{{otp.expiryTime
						| date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div id="modal-2" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Edit Case</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed" style="width: 100%">
					<tr>
						<th>Case ID</th>
						<th>{{currentCase.id}}</th>
					</tr>
					<tr>
						<td>Customer Phone Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newCustomerPhoneNumber"
							style="width: 250px"
							ng-value="newCaseData.newCustomerPhoneNumber"> <!-- <button ng-cloak ng-click="updateCustomerPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr>
						<td>Agent Phone Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newRequestorPhoneNumber"
							style="width: 250px"
							ng-value="newCaseData.newRequestorPhoneNumber"> <!-- <button ng-cloak ng-click="updateRequestorPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr>
						<td>Vehicle Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newVehicleNumber" style="width: 250px"
							ng-value="newCaseData.newVehicleNumber"> <!-- <button ng-cloak ng-click="updateVehicleNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button ng-cloak ng-click="updateCaseDetails()"
								class="btn btn-primary pull-right">Update Case Details</button>
						</td>
					</tr>
				</table>

				<reschedule-case inspection-case="currentCase"
					fetch-scheduled-cases="fetchScheduledCases()"
					callback="rescheduleCaseCallback()"></reschedule-case>

				<close-case inspection-case="currentCase"
					callback="closeCaseCallback()"></close-case>

				<table ng-show="enable_inspector" class="table table-condensed">
					<tr>
						<th colspan="2" class="alert alert-danger">Cancel Case</th>
					</tr>
					<tr>
						<td>Cancellation Reasons:</td>
						<td><select class="form-control"
							ng-model="currentCase.cancelReason" ng-required="true">
								<option value="" disabled>Cancellation reasons</option>
								<option ng-repeat="item in cancelReasons" value="{{item.id}}"
									ng-selected="item.id === currentCase.cancelReason">{{item.id}}</option>
						</select></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right">
							<button type="button" ng-click="cancelCase()"
								class="btn btn-danger">Cancel Case</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>

<!-- Modal -->
<div id="timelineModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Case Timeline</h4>
			</div>
			<div class="modal-body">
				<!-- <div class="container"> -->
				<ul class="timeline">
					<li>
						<div class="timeline-badge">
							<i class="glyphicon glyphicon-check"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
								<p>
									<small class="text-muted"><i
										class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small>
								</p>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge danger">
							<i class="glyphicon glyphicon-credit-card"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge info">
							<i class="glyphicon glyphicon-floppy-disk"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
								<hr>
								<div class="btn-group">
									<button type="button"
										class="btn btn-primary btn-sm dropdown-toggle"
										data-toggle="dropdown">
										<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
				</ul>
				<!-- </div> -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<div id="manual-qc-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Pick file for manual QC</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>


<div id="manual-qc-container3" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>


<div id="manual-qc-container2" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Upload file for manual QC</h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<form ng-submit="uploadFileManually()">
					<table class="table table-striped">
						<tr>
							<td><input type="file" accept=".zip" class="form-control"
								required="true" id="manualUploadFile" name="manualUploadFile" />
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-primary" type="submit">Upload
									Zip File</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>


<div id="move-to-qc" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<table class='table table-striped'>
					<tr>
						<td>Select vehicle type:</td>
						<td><select class='form-control'
							ng-model='selectedCaseForQCVehicleType'
							ng-init="selectedCaseForQCVehicleType='2-wheeler'">
								<option value='' disabled>Select an option</option>
								<option ng-repeat='item in vehicleTypes' value='{{item.id}}'
									ng-selected='selectedCaseForQCVehicleType === item.id'>{{item.name}}</option>
						</select></td>

					</tr>
					<tr>
						<td colspan='2'>
							<button class='btn btn-success' ng-click="moveToQCSubmit()">Move
								to QC</button>
						</td>
					</tr>
					<tr>

					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="initiate-system-call-online" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
				<h4 class="modal-title">Start initiating system call</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>
