<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2 flex md-truncate>Welcome</h2>
  </div>
</md-toolbar>
<div layout="row" layout-align="center center">
  <div flex="100">
    <md-input-container style="width:100%" class="no-md-errors-spacer no-margin-bottom">
      <label>Enter Inspection Address</label>
      <input type="text" id="customer-address-input" ng-model="customer.address"  placeholder="">
    </md-input-container>
    <%-- <input id="customer-address-input" ng-model="customer.address" class="form-control" placeholder="Inspection Address"> --%>
  </div>
</div>
<div layout="row" layout-align="center center">
  <div flex="100">
    <div id="customer-address-map" style="min-height:450px;" ></div>
  </div>
</div>
<div layout="row" layout-align="center center">
  <div flex-gt-sm="33">
    <md-button class="md-raised md-primary pull-right" ng-click="submitAddress()">Submit</md-button>
  </div>
</div>
