.logo{
  width:100%;
  height: auto;
}
.logo-container{
  margin-top: 50px;
}

.no-md-errors-spacer .md-errors-spacer{
  display: none;
}

.no-margin-bottom{
  margin-bottom:0px !important;
}


/* No place holder */

:-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: transparent;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: transparent;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: transparent;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: transparent;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: transparent;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: transparent;
}
