<div class="row">
    
    <div class="col-xs-12" style="min-height: 300px; height:500px; overflow-y: auto;">
        
        <table class="table table-striped">
            <tr ng-repeat="file in files">
                <td>{{file}}</td>
                <td><button class="btn btn-xs btn-success" ng-click="selectFile(file)">Select</button></td>
            </tr>
        </table>
        
    </div>
    
</div>