<div>
	<table ng-table="tableParams"
		class="table table-striped table-bordered table-hover">
		<tr ng-repeat="item in uniqueQuestion">
			<td data-title="'Name'">{{item.name}}</td>
			<td data-title="'Count'">{{item.count}}</td>
		</tr>
	</table>

	<div style="width: 1px; margin-bottom: 30px; margin-left: 40%;" >
		<button class="btn btn-primary" ng-click="confirmRecommendQc()">Recommend For QC</button>
	</div>
	
</div>