<div>
	<!--<table class="table table-striped">
        <tr ng-repeat="item in comments">
            <td> {{item.comment}}</td>
            <td> {{item.commentTime}}</td>
        </tr>
    </table>-->

	<table ng-table="tableParams"
		class="table table-striped table-bordered table-hover">
		<tr ng-repeat="item in comments">
			<td data-title="'Comment'" style="width: 70%">{{item.comment}}</td>
			<td data-title="'Time'">{{item.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td data-title="'User'">{{item.firstName}} {{item.lastName}}</td>
		</tr>
	</table>


	<form ng-submit="addComments()">
		<table class="table">

			<tr>
				<td><select class="form-control" ng-model="commentId">
						<option value="" >---Please select---</option>
						<option ng-repeat="defaultComment in defaultComments"
							value="{{defaultComment.id}}" ng-selected="defaultComment.id === commentId">{{defaultComment.comment}}</option>
				</select></td>
			</tr>

			<tr>
				<td><textarea ng-model="comment" class="form-control" rows="3">></textarea></td>
			</tr>
			<tr>
				<td><button class="btn btn-primary" type="submit">Add
						comment</button></td>
			</tr>
		</table>
	</form>
	<table class="table table-condensed">
		<tr>
			<td>
				<button class="btn btn-info btn-xs" ng-click="getOTP()">Get
					active OTP</button>
			</td>
		</tr>
		<tr ng-show="otps && otps.length > 0">
			<td>
				<table ng-table="tableParams"
					class="table table-condensed table-striped">
					<tr ng-repeat="otp in otps">
						<td data-title="'OTP'" style="text-align: center">{{otp.otp}}</td>
						<td data-title="'TYPE'" style="text-align: center">{{otp.otpType}}</td>
						<td data-title="'GROUP'" style="text-align: center">{{otp.otpGroup}}</td>
						<td data-title="'EXPIRY'" style="text-align: center">{{otp.expiryTime
							| date:'yyyy-MM-dd HH:mm:ss'}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>