<div style="padding: 10px">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-condensed table-striped">
				<tr>
					<td>First Name</td>
					<td><input type="text" ng-model="userCopy.firstName"
						class="form-control" /></td>
					<td><button class="btn btn-primary"
							ng-click="updateFirstName()">Update First Name</button></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" ng-model="userCopy.lastName"
						class="form-control" /></td>
					<td><button class="btn btn-primary"
							ng-click="updateLastName()">Update Last Name</button></td>
				</tr>
				<tr>
                    <td>Branch</td>
                    <td>
                    <select class="dd" ng-model="userCopy.branchName" ng-options="t for t in branchListCopy"></select>         
                    </td>
                    <td><button class="btn btn-primary" ng-click="updateBranch()">Update Branch</button></td>
                </tr>
				</tr>
				<tr>
					<td>Agent Code</td>
					<td><input type="text" ng-model="userCopy.agentCode"
						class="form-control" /></td>
					<td><button class="btn btn-primary"
							ng-click="updateAgentCode()">Update Agent Code</button></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" ng-model="userCopy.email"
						class="form-control" /></td>
					<td><button class="btn btn-primary" ng-click="updateEmail()">Update
							Email</button></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><input type="text" ng-model="userCopy.phoneNumber"
						class="form-control" /></td>
					<td><button class="btn btn-primary"
							ng-click="updatePhoneNumber()">Update Phone Number</button></td>
				</tr>
				<tr>
					<td>Account Status</td>
					<td><label> <input type="radio"
							ng-model="userCopy.enabled" ng-value="true"
							ng-checked="userCopy.enabled"> Enabled
					</label> &nbsp;&nbsp; <label> <input type="radio"
							ng-model="userCopy.enabled" ng-value="false"
							ng-checked="!userCopy.enabled"> Disabled
					</label></td>
					<td><button class="btn btn-primary" ng-click="updateEnabled()">Update
							Account Status</button></td>
				</tr>

				<tr>
					<td>IMEI Number</td>
					<td><input type="text" ng-model="userCopy.deviceId"
						class="form-control" /></td>
					<td><button class="btn btn-primary"
							ng-click="updateDeviceId()">Update IMEI Number</button></td>
				</tr>

				<tr>
					<td>Lock Account to device:</td>
					<td><label> <input type="radio"
							ng-model="userCopy.deviceLocked" ng-value="true"
							ng-checked="userCopy.deviceLocked"> Locked
					</label> &nbsp;&nbsp; <label> <input type="radio"
							ng-model="userCopy.deviceLocked" ng-value="false"
							ng-checked="!userCopy.deviceLocked"> Unlocked
					</label></td>
					<td><button class="btn btn-primary"
							ng-click="updateDeviceLocked()">Update</button></td>
				</tr>
				<tr>
					<td colspan="3">
						<button class="btn btn-primary" ng-click="resetPassword()">Reset
							Password</button>
					</td>
				</tr>
			</table>

			<br />
			<table class="table table-condensed">
				<tr>
					<td>
						<button class="btn btn-info btn-xs" ng-click="getOTP()">Get
							active OTP's</button>
					</td>
				</tr>
				<tr ng-show="otps && otps.length > 0">
					<td>
						<table class="table table-condensed table-striped"
							ng-table="tableParams">
							<tr ng-repeat="otp in otps">
								<td data-title="'OTP'" style="text-align: center">{{otp.otp}}</td>
								<td data-title="'TYPE'" style="text-align: center">{{otp.otpType}}</td>
								<td data-title="'GROUP'" style="text-align: center">{{otp.otpGroup}}</td>
								<td data-title="'EXPIRY'" style="text-align: center">{{otp.expiryTime
									| date:'yyyy-MM-dd HH:mm:ss'}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
