<form ng-submit="closeCase()">
  <table class="table table-condensed">
    <tr>
        <th colspan="2" class="alert alert-danger">Close Case</th>
    </tr>
    <tr>
        <td>Closing Reason:</td>
        <td>
            <select class="form-control" ng-model="inspectionCase.closeReason" ng-required="true">
                <option value="" disabled >Close reasons</option>
                <option ng-repeat="item in closeReasons" value="{{item.id}}" ng-selected="item.id === inspectionCase.closeReason">{{item.id}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right">
            <button type="submit" class="btn btn-danger">Close Case</button>
        </td>
    </tr>
  </table>
</form>
